<div class="page-container">
  <div class="header">
    <div class="header-logo">
      <a href="http://www.startrek.com"><img src="http://www.startrek.com/images/logo-startrek_674x148.png" alt="star trek logo"></a>
    </div>
    <!-- <div class="social-icons">

    </div> -->
    <div class="header-navbar">
      <ul class="nav-list">
        <li class="nav-list-items"><a href="#"></a>News</li>
        <li class="nav-list-items"><a href="#"></a>Watch</li>
        <li class="nav-list-items"><a href="#"></a>Database</li>
        <li class="nav-list-items"><a href="#"></a>Games</li>
        <li class="nav-list-items"><a href="#"></a>Events</li>
        <li class="nav-list-items"><a href="#"></a>Shop</li>
        <li class="nav-list-items"><a href="#"></a>Search</li>
      </ul>
    </div>
  </div>

  <div class="grid-container">

    <div class="grid-1">
      <div class="image-container">
      </div>
      <div class="text-container">
        9 Things to Know about "Menage a Troi"
      </div>
    </div>

    <div class="grid-2">
    </div>

    <div class="grid-3">
      <div class="image-container2">
      </div>
      <div class="text-container2">
        Poll Says Your Favorite Mirror Character Is...
      </div>
    </div>

    <div class="grid-4">
      <div class="image-container3">
      </div>
      <div class="text-container3">
        PREVIEW: Trek Centric 'Toys That Made Us'
      </div>
    </div>

    <div class="ad-image2">
    ad2 placeholder
    </div>

    <div class="">
      <div class="shirts">
      </div>
      <div class="text-container">
        Boldly Shop
      </div>
    </div>

    <div class="">
      Fuck
    </div>
  </div>
</div>
<div class="footer">
kkkkkkkk
</div>
