.page-container {
  margin: 0 auto;
  border: 1px solid white;
}
.header {
  display: flex;
}
.header-logo img {
  max-width: 300px;
  border: 1px solid coral;
}
.header-navbar {
  border: 1px solid hotpink;
}
.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header-navbar li {
  list-style: none;
  font-size: 26px;
  color: white;
  font-style: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
