<div class="page-container">
  <div class="header">
    <div class="header-logo">
      <a href="http://www.startrek.com"><img src="http://www.startrek.com/images/logo-startrek_674x148.png" alt="star trek logo"></a>
    </div>
    <!-- <div class="social-icons">

    </div> -->
    <div class="header-navbar">
      <ul class="nav-list">
        <li class="nav-list-items"><a href="#"></a>News</li>
        <li class="nav-list-items"><a href="#"></a>Watch</li>
        <li class="nav-list-items"><a href="#"></a>Database</li>
        <li class="nav-list-items"><a href="#"></a>Games</li>
        <li class="nav-list-items"><a href="#"></a>Events</li>
        <li class="nav-list-items"><a href="#"></a>Shop</li>
        <li class="nav-list-items"><a href="#"></a>Search</li>
      </ul>
    </div>
  </div>
  <div class="grid-container">
    <div class="">
      Dumb
    </div>
    <div class="">
      Stupid
    </div>
    <div class="">
      Not motivating
    </div>
    <div class="">
      Fuck
    </div>
    <div class="">
      Dumb
    </div>
    <div class="">
      Stupid
    </div>
    <div class="">
      Not motivating
    </div>
    <div class="">
      Fuck
    </div>
  </div>
</div>
<div class="footer">
kkkkkkkk
</div>
